.popup_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 36px;

  position: absolute;
  height: 64px;
  left: 40px;
  right: 40px;
  top: 40px;
}

.popup_order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 520px;
  height: 120px;
  top: 120px;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.popup_text1 {
  position: absolute;
  width: 520px;
  height: 30px;
  top: 272px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.popup_img {
  position: absolute;
  width: 107px;
  height: 102px;
  top: 372px;
}

.popup_text2 {
  position: absolute;
  width: 520px;
  height: 24px;
  top: 542px;
}

.popup_text3 {
  position: absolute;
  width: 520px;
  height: 24px;
  top: 574px;
}
