.title {
  position: absolute;
  width: 1240px;
  height: 40px;
  left: 380px;
  top: 148px;
}

.left_sidebar {
  position: absolute;
  width: 608px;
  height: 852px;
  left: 372px;
  top: 208px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 16px;
  gap: 16px;

  position: absolute;
  width: 584px;
  height: 768px;
  left: 8px;
  top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card_order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 584px;
  height: 214px;
  min-height: 214px;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.card_order_pr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 844px;
  height: 246px;
  min-height: 246px;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.order_id_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;
  gap: 16px;

  width: 536px;
  height: 24px;
}

.order_id_block_pr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;
  gap: 16px;

  width: 796px;
  height: 24px;
}

.order_name_block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 24px;
  gap: 16px;

  width: 536px;
  height: 48px;
  overflow: hidden;
  line-height: 1;
}

.order_name_block_pr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 24px;
  gap: 16px;

  width: 796px;
  height: 48px;
  overflow: hidden;
  line-height: 1;
}

.order_id {
  display: flex;
  align-items: center;
  width: 102px;
  height: 24px;
}

.order_timestamp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 418px;
  height: 24px;
}

.order_timestamp_pr {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 678px;
  height: 24px;
}

.status {
  display: none;
}

.status_pr {
  width: 796px;
  height: 24px;
}

.components_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 536px;
  height: 64px;
}

.components_price_pr {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 796px;
  height: 64px;
}

.ingredients {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  width: 412px;
  height: 64px;
}

.ingredients_pr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  width: 696px;
  height: 64px;
}

.ing_preview {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background: linear-gradient(#131316, #131316) padding-box,
    linear-gradient(#801ab2, #4c4cff) border-box;
  border: 3px solid transparent;
  border-radius: 100px;
  overflow: hidden;
}

.ing_preview img {
  position: absolute;
  display: inline-block;
  width: 112px;
  height: 56px;
  left: -42.5%;

  top: 3.25%;
}

.ing_preview figcaption {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 20px;
  color: #f2f2f3;
  text-align: center;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 100px;
  height: 64px;
}

.right_sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;

  position: absolute;
  width: 580px;
  height: 626px;
  left: 1040px;
  top: 208px;
}

.orders_board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;

  width: 580px;
  height: 206px;
}

.orders_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 272px;
  height: 206px;
}

.orders_list_left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 136px;
  height: 152px;
}

.orders_list_left div {
  display: flex;
  flex-direction: column;
}

.order_number {
  width: 136px;
  height: 24px;
}

.orders_all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 580px;
  height: 150px;
}

.orders_all_number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 580px;
  height: 120px;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
